img {
  width: 10%;
  height: 8%;
  margin-top: -1.5rem;
}

h6 {
  font-family: "Bitter";
  color: white;
}

.navbar {
  margin: 0;
  background-color: #ffffff;
}

.smol {
  font-size: 12px;
  margin-left: 15px;
}
