h4 {
  margin-left: 10px;
  text-align:center;
  
  font-weight: 300; 
  border-bottom: 2.5px gray;
}

.btcolor{
	background-color: #880e4f;
	color : white;
}

.btcolor1{
	background-color: #8f8f8d;
	color : white;
}
.op-cont {
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px grey;
  width: 95%;
  height: 450px;
  background-color: #f5f5f5;
}

.tableBod {
  font-size: 2px;
}

.abcd{
	font-weight:bold;
	font-size:50px; 
}
